<%- include("partials/header"); -%>
    <h1>Welcome to my About Section!</h1><br>
    <h2>Myself Yash Pachauri,</h2>
    <p> <%= aboutContent %> </p>
    <p><%= aboutContent2 %> </p>
    <p><%= aboutContent3 %> </p>
<%- include("partials/footer"); -%>
