<%- include("partials/header"); -%>
    
    <h2>Myself Yash Pachauri,</h2>
    <p> <%= aboutContent %> </p>
    <p><%= aboutContent2 %> </p>
    <p><%= aboutContent3 %> </p>
<%- include("partials/footer"); -%>
