
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Travel Blog</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Travel Blog</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
        </ul>
    </div>
  </nav>

  <body>

   <div>
    <div style="left:0; margin-top: 5%;padding-top:0; padding-left:2%; width: 20%; float:left; border-right: 1px solid #777;">
      <div style="background-color: #E3F4F4; color:#777;padding: 2%;">
        <h4>User: <%= name%></h4>
      </div>
      <ul class="nav flex-column;">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/compose">Compose</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/update">Update Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/changepassword">Change Password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    <div style="width: 80%; float:right;">
      <div class="container" style="width:70%;  margin-top: 5%;">
        <h1>Edit Article</h1>
        <form class="" action="/update/<%=post._id%>" method="post">
        <div class="form-group">
          <label>Title</label>
          <input class="form-control" type="text" name="postTitle" value="<%=post.title%>">
          <label>Content</label>
          <textarea class="form-control" name="postBody" rows="10" cols="30"><%-post.content%></textarea>
        </div>
        <div style="text-align: center;">
        <button class="btn btn-lg btn-secondary" style="background-color: #F8F6F4;" type="submit"  name="button">Update</button>
         </div>
        </form>
      </div>
    </div>
<%- include("partials/footer"); -%>
